@font-face {
  font-family: "ddbb";
  font-style: normal;
  font-weight: normal;
  src: local("Disposable Droid BB"),
    url("./fonts/disposabledroid-bb.regular.woff") format("woff");
}
@font-face {
  font-family: "ddbb_b";
  font-style: normal;
  font-weight: normal;
  src: local("Disposable Droid BB Bold"),
    url("./fonts/disposabledroid-bb.bold.woff") format("woff");
}

:root {
  --bgcolor: #fff;
  --color: #111;
  --inversion: invert(1);
  --overflow: hidden;
}

* {
  font-family: "ddbb";
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    color: var(--bgcolor);
    background-color: var(--color);
  }
}

body {
  overflow: var(--overflow);
  background-color: var(--bgcolor);
  color: var(--color);

  #root {
    color: var(--color);
    background-color: var(--bgcolor);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

//? resume styling
div.resumeWrapper {
  overflow: hidden;

  embed.resume {
    width: 100vw;
    height: calc(100vh - 7.3em);
    overflow: hidden;
    margin: 0;
  }
}

//? Navbar styling
nav.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  background-color: var(--bgcolor);
  height: 7em;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  a.name {
    color: var(--color);
    font-family: "ddbb_b";
    font-size: 8em;
    text-decoration: none;
    width: fit-content;
    margin: auto;
  }

  ul.leftNav,
  ul.rightNav {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 4em;

    a.link {
      font-size: 1.7em;
      text-decoration: none;
      color: var(--color);
      position: relative;
    }

    a.link::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: var(--color);
      transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
    }

    a.active {
      font-family: "ddbb_b";

      &::before {
        width: 100%;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      a.link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }

  ul.leftNav {
    justify-content: flex-end;
  }

  ul.rightNav {
    justify-content: flex-start;
  }

  .whitespace {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //? dark mode switch
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 15px;
    box-sizing: border-box;

    input {
      opacity: 0;
      width: 0;
      height: 0;
      box-sizing: border-box;

      &:checked + .slider:before {
        transform: translateX(17px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      outline: 4px var(--color) solid;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      box-sizing: border-box;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 17px;
      background-color: var(--color);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

//? navbar and navmenu responsiveness
@media only screen and (max-width: 1165px) {
  nav.navbar {
    display: none;
  }

  nav.navmenu {
    display: unset;
  }
}

//? home styling
div.home {
  height: calc(100vh - 7em);
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr;
  padding-top: 5em;

  article.welcomer {
    padding: 6em 2em 2em 2em;
    display: flex;
    flex-direction: column;

    h2.welcomerTitle {
      margin-top: 1em;
      font-size: 3em;
    }

    p.welcomerText {
      font-size: 2em;
      margin-top: 1em;
    }

    p.links {
      font-size: 2em;
      margin-top: 2em;
    }

    ul.linksList {
      display: flex;
      list-style: none;
      width: fit-content;
      margin-top: 1em;
      gap: 2em;

      a {
        color: var(--color);
        text-decoration: none;
        font-size: 1.2em;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 2px;
          background-color: var(--color);
          transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
        }
      }

      @media (hover: hover) and (pointer: fine) {
        a:hover::before {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }
  }

  a.resume {
    color: var(--color);
    text-decoration: none;
    width: fit-content;

    img.computer {
      transform: scaleX(-1);
      width: clamp(10em, 40em, 100%);
      filter: saturate(0);
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        filter: saturate(1);
      }
    }

    p.desc {
      width: clamp(10em, 40em, 100%);
      text-align: center;
    }
  }
}

//TODO projects styling
div.projects {
  overflow: auto;
  height: calc(100vh - 7em);
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr;
  padding-top: 5em;
}

//TODO about styling
div.about {
  overflow: auto;
  height: calc(100vh - 7em);
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr;
  padding-top: 5em;
}

//TODO contact styling
div.contact {
  overflow: auto;
  height: calc(100vh - 7em);
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr;
  padding-top: 5em;
}

//? cookie disclaimer
div.disclaimer {
  position: absolute;
  z-index: 99;
  bottom: 1em;
  left: 1em;
  background-color: var(--color);
  color: var(--bgcolor);
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 20em;
  box-shadow: -3px 0 0 0 var(--color), 3px 0 0 0 var(--color),
    0 -3px 0 0 var(--color), 0 3px 0 0 var(--color);

  .wrapper {
    position: relative;
    padding: 0.5em;

    .title {
      line-height: 1.5em;
    }

    .desc {
      margin-top: 1em;
    }

    .closeBtn {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      filter: var(--inversion);
      transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 2em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.closed {
    display: none;
  }
}
