@font-face {
  font-family: "ddbb";
  font-style: normal;
  font-weight: normal;
  src: local("Disposable Droid BB"), url("../fonts/ddbbr.woff") format("woff");
}
@font-face {
  font-family: "ddbb_b";
  font-style: normal;
  font-weight: normal;
  src: local("Disposable Droid BB Bold"), url("../fonts/ddbbb.woff") format("woff");
}
:root {
  --color: #fff;
  --bgcolor: #111;
  --inversion: invert(1);
  --overflow: hidden;
}

* {
  font-family: "ddbb";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  color: var(--bgcolor);
  background-color: var(--color);
}
*::selection {
  color: var(--bgcolor);
  background-color: var(--color);
}

body {
  overflow: var(--overflow);
  background-color: var(--bgcolor);
  color: var(--color);
}
body #root {
  color: var(--color);
  background-color: var(--bgcolor);
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

div.resumeWrapper {
  overflow: hidden;
}
div.resumeWrapper embed.resume {
  width: 100vw;
  height: calc(100vh - 7.3em);
  overflow: hidden;
  margin: 0;
}

nav.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  background-color: var(--bgcolor);
  height: 7em;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav.navbar a.name {
  color: var(--color);
  font-family: "ddbb_b";
  font-size: 8em;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
nav.navbar ul.leftNav,
nav.navbar ul.rightNav {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 4em;
}
nav.navbar ul.leftNav a.link,
nav.navbar ul.rightNav a.link {
  font-size: 1.7em;
  text-decoration: none;
  color: var(--color);
  position: relative;
}
nav.navbar ul.leftNav a.link::before,
nav.navbar ul.rightNav a.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color);
  transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}
nav.navbar ul.leftNav a.active,
nav.navbar ul.rightNav a.active {
  font-family: "ddbb_b";
}
nav.navbar ul.leftNav a.active::before,
nav.navbar ul.rightNav a.active::before {
  width: 100%;
}
@media (hover: hover) and (pointer: fine) {
  nav.navbar ul.leftNav a.link:hover::before,
nav.navbar ul.rightNav a.link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
nav.navbar ul.leftNav {
  justify-content: flex-end;
}
nav.navbar ul.rightNav {
  justify-content: flex-start;
}
nav.navbar .whitespace {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.navbar .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 15px;
  box-sizing: border-box;
}
nav.navbar .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  box-sizing: border-box;
}
nav.navbar .switch input:checked + .slider:before {
  transform: translateX(17px);
}
nav.navbar .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: 4px var(--color) solid;
  transition: 0.4s;
  box-sizing: border-box;
}
nav.navbar .switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 17px;
  background-color: var(--color);
  transition: 0.4s;
}

@media only screen and (max-width: 1165px) {
  nav.navbar {
    display: none;
  }
  nav.navmenu {
    display: unset;
  }
}
div.home {
  height: calc(100vh - 7em);
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr;
  padding-top: 5em;
}
div.home article.welcomer {
  padding: 6em 2em 2em 2em;
  display: flex;
  flex-direction: column;
}
div.home article.welcomer h2.welcomerTitle {
  margin-top: 1em;
  font-size: 3em;
}
div.home article.welcomer p.welcomerText {
  font-size: 2em;
  margin-top: 1em;
}
div.home article.welcomer p.links {
  font-size: 2em;
  margin-top: 2em;
}
div.home article.welcomer ul.linksList {
  display: flex;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1em;
  gap: 2em;
}
div.home article.welcomer ul.linksList a {
  color: var(--color);
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
}
div.home article.welcomer ul.linksList a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color);
  transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  div.home article.welcomer ul.linksList a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
div.home a.desktop {
  color: var(--color);
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
div.home a.desktop img.computer {
  transform: scaleX(-1);
  width: clamp(10em, 40em, 100%);
  filter: saturate(0);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
div.home a.desktop img.computer:hover {
  filter: saturate(1);
}
div.home a.desktop p.desc {
  width: clamp(10em, 40em, 100%);
  text-align: center;
  font-size: 1.2em;
}

div.projects {
  overflow: hidden;
  height: calc(100vh - 7em);
  width: 100vw;
  padding-top: 3em;
}
div.projects div.slider {
  position: relative;
}
div.projects div.slider a.project {
  position: absolute;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  left: 0px;
  right: 0px;
}
div.projects div.slider a.project div.wrapper {
  position: relative;
}
div.projects div.slider a.project div.wrapper div.text {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.6);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.5em;
}
div.projects div.slider a.project div.wrapper div.text h3 {
  font-size: 3em;
  color: #fff;
}
div.projects div.slider a.project div.wrapper div.text p {
  margin-top: 1em;
  font-size: 1.5em;
  color: #fff;
}
div.projects div.slider a.project div.wrapper .img {
  width: 1200px;
  height: 600px;
  overflow: hidden;
}
div.projects div.slider a.project div.wrapper .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.projects div.slider a.project[data-status=outside-left] {
  transform: translateX(-200%);
  scale: 0.75;
  z-index: 1;
}
div.projects div.slider a.project[data-status=outside-left]:hover {
  scale: 0.8;
}
div.projects div.slider a.project[data-status=before] {
  transform: translateX(-140%);
  scale: 0.85;
  z-index: 2;
}
div.projects div.slider a.project[data-status=before]:hover {
  scale: 0.87;
}
div.projects div.slider a.project[data-status=active] {
  transform: translateX(0);
  z-index: 3;
}
div.projects div.slider a.project[data-status=active]:hover {
  scale: 1.03;
}
div.projects div.slider a.project[data-status=after] {
  transform: translateX(140%);
  scale: 0.85;
  z-index: 2;
}
div.projects div.slider a.project[data-status=after]:hover {
  scale: 0.87;
}
div.projects div.slider a.project[data-status=outside-right] {
  transform: translateX(200%);
  scale: 0.75;
  z-index: 1;
}
div.projects div.slider a.project[data-status=outside-right]:hover {
  scale: 0.8;
}
div.projects div.buttons {
  position: absolute;
  width: 100vw;
  height: 5em;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.projects div.buttons button {
  position: relative;
  width: 100%;
  background-color: var(--bgcolor);
  border: none;
  border-top: 3px solid var(--color);
  color: var(--color);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 2em;
  z-index: 1;
  cursor: pointer;
}
div.projects div.buttons button.next {
  border-left: 3px solid var(--color);
}
div.projects div.buttons button.next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color);
  z-index: -1;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
div.projects div.buttons button.next:hover {
  color: var(--bgcolor);
}
div.projects div.buttons button.next:hover::before {
  width: 100%;
}
div.projects div.buttons button.prev::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: var(--color);
  z-index: -1;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
div.projects div.buttons button.prev:hover {
  color: var(--bgcolor);
}
div.projects div.buttons button.prev:hover::before {
  width: 100%;
}

div.about {
  overflow: auto;
  height: calc(100vh - 7em);
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr;
  padding-top: 5em;
}

div.contact {
  overflow: auto;
  height: calc(100vh - 7em);
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr;
  padding-top: 5em;
}

div.disclaimer {
  position: absolute;
  z-index: 99;
  bottom: 1em;
  left: 1em;
  background-color: var(--color);
  color: var(--bgcolor);
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 20em;
  box-shadow: -3px 0 0 0 var(--color), 3px 0 0 0 var(--color), 0 -3px 0 0 var(--color), 0 3px 0 0 var(--color);
}
div.disclaimer .wrapper {
  position: relative;
  padding: 0.5em;
}
div.disclaimer .wrapper .title {
  line-height: 1.5em;
}
div.disclaimer .wrapper .desc {
  margin-top: 1em;
}
div.disclaimer .wrapper .closeBtn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  filter: var(--inversion);
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 2em;
}
div.disclaimer .wrapper .closeBtn:hover {
  cursor: pointer;
}
div.disclaimer.closed {
  display: none;
}/*# sourceMappingURL=style.css.map */